<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>404 - Halaman Tidak Ditemukan</title>
    <style>
        body { font-family: Arial, sans-serif; text-align:center; margin-top:100px; }
        h1 { font-size:72px; color:#ff4c4c; }
        p { font-size:24px; }
        a { color:#007bff; text-decoration:none; }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Halaman tidak ditemukan.</p>
    <p><a href="{{ url_for('index') }}">Kembali ke Halaman Utama</a></p>
</body>
</html>
